.bank {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.bank-logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.bank-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.bank-card {
  font-size: 14px;
  margin-bottom: 10px;
}

.bank-link {
  color: #333;
  text-decoration: none;
}

.bank-link:hover {
  text-decoration: underline;
}
